@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	height: 100%;
}
body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	cursor: pointer;
}
.custom-link-class{
	text-decoration: none;
	color: inherit;
}
/* Navbar */

.navBar{
	background-color: rgb(0, 0, 0);
	color: white;
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
}

.logo-container img{
	height: 40px;
	margin-left: 20%;
}


.navBar ul{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.navBar li{
	margin: 0 30px;
	text-align: center;
}

.sports-drop-down{
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	top: 70px;
	right: 70px;
	width: 800px;
	height: 100px;
	padding: 1%;
	background-color: white;
	color: black;
	border-radius: 10px;
}

.sports-drop-down:before {
	content: "";
	position: absolute;
	top: -10px;
	right: 185px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid white;
}

.drop-down-sports-logo{
	display: flex;
	flex: 0 0 20%;
	flex-wrap: wrap;
	align-items: center;
	height: 50px;
}

.drop-down-sports-logo span{
	margin-left: 5%;
}

/* Header and home page */

.main-header{
	height: 650px;
	max-height: 650px;
    min-height:600px;
	background-size: cover;
	background-position: center;
	font-family: 'Fredoka One', cursive;
}

.videoTag {
    width: 100%;
    max-height: 650px;
    min-height:600px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.soccer-video{
	max-height: 350px;
    min-height: 300px;
}

.video-text-container {
	position: relative; 
  }
  
.text-overlay {
	position: absolute; /* Position text overlay on top of the video */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background for text */
	color: white;
	font-size: 4rem;
  }

.soccer-overlay h1{
	font-size: 2rem;
}
  
.text-overlay h1, .text-overlay p {
	width: 40%;
	text-align: center;
}

.text-overlay p {
	font-size: 2rem;
	margin-top: 3%;
}

.soccer-overlay p{
	font-size: 1.5rem;
}

.mission-statement-container{
	display: flex;
	justify-content: space-around;
	margin: 3% 8%;
}
  
.mission-statement{
	font-family: 'Roboto', cursive;
	margin: 3% 0;
	padding: 2%;
	width: 27%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 20px;
	transition: transform 0.2s;
} 

.mission-statement:hover {
    transform: scale(1.03);
}

@keyframes moveArrow {
    0% {transform: translateX(0);}
    50% {transform: translateX(10px);}
    100% {transform: translateX(0);}
}

.mission-statement:hover .arrow {
    transform: scale(1.03);
	animation: moveArrow 1s linear infinite;
}

.arrow{
	cursor: pointer;
}

.mission-statement h5{
	margin-top: 5%;
	font-size: 2rem;
	font-weight: bolder;
}

.mission-statement p{
	font-weight: lighter;
	line-height: 25px;
	padding: 5% 0 20% 0;
	font-size: 1rem;
}

.sports-heading-choices{
	text-align: center;
	font-size: 2rem;
	width: 50%;
	margin: 3% auto;
}


.sport-choice-container {
	display: flex;                    
	flex-wrap: wrap;                
	justify-content: space-around;
	width: 60%;
	margin: 0 auto;
}
	
.mini-sports-logo {
	flex: 0 0 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 150px;
	height: 150px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 20px;
	margin-bottom: 3%;
	transition: transform 0.2s;
}

.mini-sports-logo:hover {
    transform: scale(1.03);
}

.sport-name{
	margin-top: 3%;
}

/* Login */

.login-register-container{
	display: flex;
	height: 100vh;
}

.login-register-section{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-register-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.login-register-form-section{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-top: 3%;
	max-height: 700px;
}

.login-register-form-section h5{
	font-size: 2rem;
	margin: 3% 0;
}

.login-register-form-section p{
	font-weight: 300;
	margin-bottom: 7%;
}

.login-register-form-section span {
	font-weight: 300;
	font-size: .7rem;
	text-align: center;
	margin: 3% 0;
	position: relative;
  }
  
  .login-register-form-section span:before,
  .login-register-form-section span:after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 35%;
	position: absolute;
	top: 50%;
  }
  
  .login-register-form-section span:before {
	left: 0;
	background-color: rgb(239, 233, 233);
  }
  
  .login-register-form-section span:after {
	right: 0;
	background-color: rgb(239, 233, 233);
  }

.login-register-form-section button, .login-register-form-section input{
	border-radius: 10px;
	margin: 3% 0;
	border: 1px solid rgb(213, 209, 209);;
	background-color: white;
	height: 2rem;
}

.login-register-form-section button{
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-register-form-section input{
	text-indent: 3%;
	font-weight: 300;
}

.login-register-form-section form{
	display: flex;
	flex-direction: column;
}

/* Questionnaire */

.questionnaire-container{
	text-align: center;
	width: 100%;
	padding-bottom: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.questionnaire-heading{
	font-weight: bolder;
	font-size: 2.5rem;
	text-align: center;
	padding: 1% 0 1% 0;
}

.question-tracker{
	font-size: 1.5rem;
	color: rgb(155, 159, 164);
	margin-bottom: 2%;
}

.question-container{
	margin-top: 3%;
	padding: 3% 0;
}


.questionnaire-input{
	background-color: rgb(100, 110, 205);
	width: 40%;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	height: 40px;
	color: white;
	text-indent: 15px;
	display: block;
	margin-bottom: 2%;
}

.questionnaire-input::placeholder{
	color: white;
}

#enter-team-name-btn{
	height: 30px;
	font-size: 1rem;
	color: white;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.question-container button{
	color: white;
	width: 40%;
	margin: 2% 1% 0 1%;
	font-size: 1.75rem;
	padding: 1% 0;
	border: none;
	border-radius: 10px;
	background-color: rgb(94, 97, 101);
}

.question-container button:hover{
	background-color: rgb(149, 152, 156);
}

.question{
	width: 70%;
	margin: 0 auto;
	font-size: 1.75rem;
	color: white;
	margin-bottom: 3%;
}

/* Dark Mode */

.dark-mode-logo-container{
	margin-top: 5%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#dark-mode-logo {
	width: 200px;
}

.main-dark-container{
	background-color: rgb(14, 19, 22);
	color: rgb(239, 239, 239);
	width: 100%;
}

.dark-inner-container{
	background-color: rgb(23, 28, 34);
	background-color: rgb(53, 55, 57);
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
}

/* Dashboard */

.dashboard-container{
	height: 100vh;
	background: linear-gradient(169.29deg, #262B2F -0.68%, #16191D 74.03%);
}

.my-sport-team-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.dashboard-container nav{
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin-bottom: 5%;

	background-color: rgb(100, 110, 205);
}

.dashboard-container h3 {	
	margin: 0 auto;
	padding-left: 2rem;
	font-size: 2rem;
}

.add-team{
	margin-right: 2rem;
	cursor: pointer;
}

.my-sport-team{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: linear-gradient(210.55deg, #3b3e43 -3.02%, #16181a 93.08%);
	box-shadow: 36px 12px 64px rgba(2, 3, 3, 0.7), -12px -20px 56px rgba(232, 237, 243, 0.05), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
	border-radius: 24px;
	width: 250px;
	height: 250px;
	margin-bottom: 3%;
	cursor: pointer;
	transition: transform 0.2s;
} 

.my-sport-team:hover {
    transform: scale(1.03);
}

.team-container {
	position: relative;
	padding-bottom: 3%;
}

.league-date{
	position: absolute;
	top: -30px;
	margin-left: 3%;
	font-size: 1.2rem;
}

/* Add new team */

.add-team-container {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	height: 1px;
	transition: opacity 0.5s, visibility 0.5s, height 0.5s;
	background-color: rgb(100, 110, 205);
}

.add-team-container span{
	margin: 3%;
}

.add-team-container.active {
	opacity: 1;
	visibility: visible;
	height: 100vh;
	display: flex;
	font-size: 2rem;
}

.add-team-form{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35%;
	margin: 3% auto;
	height: 100%;
	border-radius: 10px;
	padding: 1% 2% 2% 2%;
	padding: 5%;
	background-color: rgb(25, 30, 45);
	background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
	box-shadow: 36px 12px 64px rgba(2, 3, 3, 0.7), -12px -20px 56px rgba(232, 237, 243, 0.05), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
}

.close-or-submit-form{
	width: 35%;
	margin: 0 auto;
	padding: 4%;
	height: 1px;
}

.add-team-form input, .add-team-form select, .submit-new-team-btn, .submit-new-staff-btn, .add-staff-form, .add-player-form, .submit-new-player-btn{
	background-color: rgb(50, 56, 66);
	border: none;
	height: 40px;
	color: white;
	text-indent: 15px;
}

.submit-new-team-btn:hover{
	background-color: rgb(64, 66, 76);
}
 
.add-team-form label{
	font-size: 1rem;
}

hr {
    height: 0px;
    border: none;
	width: 100%;
    border-top: 1px solid rgb(90, 88, 88);
	margin: 0;
}

.sport-select-container1, .sport-select-container2{
	display: flex;
	flex-direction: column;
}

.sport-select-container1 label, .sport-select-container2 label{
	padding-bottom: 25px;
	margin-top: 0;
}

.sport-select-container1{
	width: 30%;
	margin-right: 5%;
}

.sport-select-container2{
	width: 70%;
}

.sport-select-container{
	margin-right: 5px;
}

.sport-form-details{
	display: flex;
}

/* Team Profile */

.team-profile-header{
	background-color: rgb(100, 110, 205);
	height: 40vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.team-profile-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.team-profile-name{
	font-size: 2rem;
	margin: 2% 0;
}

.sport-type{
	border: 1px solid black;
	background-color: white;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.team-profile-list{
	display: flex;
	justify-content: space-around;
	margin-top: auto;
	margin-bottom: 20px;
	font-weight: bolder;
}

.team-profile-list li, .profile-list li{
	cursor: pointer;
}

.tab-container{
	height: 60vh;
	box-sizing: border-box;
}

/* Schedule Component */

.no-data-added-container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 40vh;
	color: white;
}

.no-data-added-container h4{
	font-size: 2rem;
}

.no-data-added-container button{
	width: 30%;
	height: 3rem;
	border-radius: 10px;
	border: none;
}

.scheduled-events {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.individual-events{
	color: black;
	height: 4rem;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	background-color: rgb(244, 242, 242);
	border-bottom: 1px solid rgb(233, 230, 230);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.event-date{
	display: flex;
	flex-direction: column;
	margin-left: 2.5rem;
	width: 100px;
}

.event-time{
	margin-left: auto;
	margin-right: 2.5rem;
}

.event-type{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
.scheduled-events button, .team-videos-container button {
	align-self: center;
	margin-top: 2%;
	margin-bottom: 5%;
	display: flex;
	align-items: center;
	border: none;
	padding: 1%;
	border-radius: 10px;
	font-weight: bold;
	background-color: rgb(105, 227, 130);
}

.add-event-container{
	position: absolute;
	display: flex;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	height: 0px;
	transition: opacity 0.5s, visibility 0.5s, height 0.5s;
	background-color: rgb(105, 227, 130);
}

.add-event-container.active{
	opacity: 1;
	visibility: visible;
	height: 60vh;
	display: flex;
	font-size: 2rem;
}

.add-event-form{
	background-color: rgb(50, 56, 66);
	border: none;
	height: 40px;
	color: white;
}

.add-event-form button{
	margin-top: 2%;
}

.add-event-form input, .add-event-form select{
	background-color: rgb(50, 56, 66);
	border: none;
	color: white;
	text-indent: 5px;
	height: 1.5rem;
}



/* Team Component */

.team-tab{
	background-color: rgb(23, 28, 34);
}

.staff-container, .team-container{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.staff-container, .team-container{
	padding-top: 5%;
}

.team-tab-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	height: 3rem;
}

.staff-members, .roster-players{
	color: black;
	height: 3rem;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(244, 242, 242);
	border-bottom: 1px solid rgb(233, 230, 230);
	cursor: pointer;
}

.staff-information{
	display: flex;
	flex-direction: column;
}

.staff-title{
	font-size: .7rem;
}

.delete-staff{
	position: relative;
	left: .4rem;
}

.add-staff-container, .add-player-container, .add-video-container {
	position: absolute;
	display: flex;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	height: 0px;
	transition: opacity 0.5s, visibility 0.5s, height 0.5s;
	background-color: rgb(105, 227, 130);
}

.add-staff-container.active, .add-player-container.active, .add-video-container.active {
	opacity: 1;
	visibility: visible;
	height: 60vh;
	display: flex;
	font-size: 2rem;
}

.add-staff-form, .add-player-form, .add-event-form{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35%;
	margin: 3% auto;
	height: 100%;
	border-radius: 10px;
	padding: 1% 2% 2% 2%;
	background-color: rgb(25, 30, 45);
	background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
	box-shadow: 36px 12px 64px rgba(2, 3, 3, 0.7), -12px -20px 56px rgba(232, 237, 243, 0.05), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
}


.add-staff-form label, .add-team-form label, .add-player-form, .add-event-form label{
	font-size: 1.4rem;
	/* margin: 3% 0; */
}

.add-staff-input{
	height: 2rem;
	border: none;
	border-radius: 5px;
}

.close-staff-form{
	margin-right: 5%;
	margin-top: 3%;
	align-self: flex-end;
	cursor: pointer;
}

/* Videos */

.team-videos-container{
	background-color: rgb(23, 28, 34);
}

.team-videos{
	padding: 3% 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.team-videos video {
    flex-basis: 50%;
	max-width: 500px;
}

.individual-team-video h4{
	text-align: center;
	margin-bottom: 3%;
	color: white;
}

.team-videos-btn-container{
	padding-bottom: 3%;
}

.team-videos-container button{
	margin: 0 auto;
	display: block;
}


/* Player Profile */

.profile-header{
	background-color: rgb(100, 110, 205);
	height: 40vh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
}

.profile-pic-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 1%;
}
  
.profile-pic-container img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.player-info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player-name{
	font-size: 1.3rem;
	font-weight: bold;
}

.profile-list{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: auto;
	padding-bottom: 20px;
	font-weight: bold;
}

.player-videos-container{
	background-color: rgb(23, 28, 34);
	height: 100%;
}

/* Spinner */

.loader {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 3px solid;
	border-color: rgb(0, 0, 0) rgb(0, 0, 0) transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  .loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid;
	border-color: transparent #FF3D00 #FF3D00;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	animation: rotationBack 0.5s linear infinite;
	transform-origin: center center;
  }
  
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 
	  
  @keyframes rotationBack {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(-360deg);
	}
  }

.spinner{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
}

.tab-spinner{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
}

/* Media Queries */

@media screen and (min-width: 1100px){
	.add-team-form{
		max-height: 425px;;
	}
}

@media screen and (max-width: 850px){
	.sport-select-container1, .sport-select-container2{
		width: 100%;
	}
	.sport-form-details{
		flex-direction: column;
	}
	.sport-select-container1 label, .sport-select-container2 label{
		padding: 0;
		padding-bottom: 15px;
	}
	.sport-select-container2 label{
		padding-top: 15px;
	}
	.add-team-form, .add-event-form{
		width: 70%;
		height: 70vh;
		justify-content: space-around;
	}
}

@media screen and (max-width: 650px) {
	/* Home Screen */
	.text-overlay h1{
		width: 80%;
	}
	.mission-statement-container{
		flex-direction: column;
	}
	.mission-statement{
		width: auto;
		margin: 3%;
	}
	/* Login & Register Screen */
	.login-register-container{
		justify-content: center;
	}
	.login-register-img{
		display: none;
	}
	.login-register-section{
		width: 100%;
		margin: 3%;
	}
	.login-register-form-section{
		height: auto;
	}
	.login-register-form-section span:before,
	.login-register-form-section span:after {
	  content: "";
	  display: inline-block;
	  height: 2px;
	  width: 25%;
	  position: absolute;
	  top: 50%;
	}
	/* Questionnaire */
	.questionnaire-container{
		padding-top: 20%;
		text-align: center;
		padding-bottom: 3%;
		display: flex;
		justify-content: flex-start;
		padding-bottom: 10%;

	}
	.question-container{
		margin-top: 3%;
		padding: 15% 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.questionnaire-heading{
		width: 70%;
	}
	.question-container button{
		color: white;
		width: 70%;
		margin: 3% 0 3% 0%;
		font-size: 1.75rem;
		padding: 1% 0;
		border: none;
		border-radius: 10px;	
	}
	.question{
		width: 70%;
	}
	.questionnaire-input{
		background-color: rgb(100, 110, 205);
		width: 60%;
		margin: 0 auto;
		border: none;
		border-radius: 10px;
		height: 40px;
		color: white;
		text-indent: 15px;
		display: block;
		margin-bottom: 2%;
	}
	
	.questionnaire-input::placeholder{
		color: white;
	}
	
	#enter-team-name-btn{
		height: 30px;
		font-size: 1rem;
		color: white;
		width: 60%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}
	/* Schedule */
	.event-date{
		margin-left: 1rem;
	}
	.event-time{
		margin-right: 1rem;
	}
	.event-type{
		font-size: .9rem;
	}
	/* Videos */
	.team-videos video {
		flex-basis: 50%;
		max-width: 400px;
	}
}

@media screen and (max-width: 650px){
	.sport-select-container1 label, .sport-select-container2 label{
		padding: 0;
		padding-bottom: 35px;
	}
	.sport-select-container2 label{
		padding-top: 35px;
	}
	.add-team-form{
		width: 80%;
		max-height: 100vh;
		justify-content: space-around;
	}
	.staff-container, .team-container{
		padding-top: 15%;
	}
	.dashboard-container{
		height: 100vh;
		padding-bottom: 5%;
	}
}

@media screen and (max-width: 425px){
	.dashboard-container{
		height: 100%;
		padding-bottom: 5%;
	}
	.team-videos video {
		flex-basis: 50%;
		max-width: 350px;
	}
}